*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Encabezado*/
.registro{
    text-align: right;
}
.reg{
    margin: 2vw;
    text-decoration: none;
    font-size: 25px;
    color: white;   
}
.reg:hover{
    color: #E8A01A;
}
.encabezado{
    background-color:#2C557A;
    position: relative;
    width: 100%;
}

.hotel{ 
    text-align: left;
    font-size: 4em;
    padding: 15px;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*Menu*/
nav{
    background-color: #E8A01A;
}

.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.main-menu__item{
    line-height: 3;
}
.main-menu__link:hover{
    color: white;
}

.main-menu__link{
    text-decoration: none;
    font-size: 1.2em;
    font-family: monospace;
    color:#2C557A;  
    display: block;
    padding: px;
    border-radius: 5px;
}
.img_menu{
    width: 97.8vw;
    height: 25vw;
}
.video{
    margin-top: 25px;
    width: 100%;
    height: 45vw;
    background-color: #2C557A;
}
.video_index_link{
    margin-top: 2.5vw;
    margin-left: 4vw;
    width: 90vw;
    height: 40vw;
}
.container{
    height: 25vw;
    width: 95vw;
    overflow: hidden;
    margin:auto;
}
.container ul{
    list-style: none;
    width: 1000vw;
    display: flex;
    animation: slide 10s infinite alternate;
}
@keyframes slide{
    0% {margin-left: 0vw;}
    20%{margin-left: 0vw;}
    25%{margin-left: -97.8vw;}
    45%{margin-left: -97.8vw;}
    50%{margin-left: -195.6vw}
    70%{margin-left: -195.6vw;}
    75%{margin-left: -293.4vw;}
    100%{margin-left: -293.4vw;}
}

/* Bienvenida*/
main{background-color:rgba(232, 160, 26, 0.600);}
.bienvenida{
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #2C557A;
}
.contenido{
    font-size: 1.3em;
    text-align: center;
    padding: 1em;
    font-family: monospace;
    color: #2C557A;
}

/*Menu en pantalla*/
.contenedor{
    width: 900px;
    height: 400px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    display: flex;
}

[class^=box]{
    width: 290px;
    height: 190px;
    text-align: center;
    color: #2C557A;
    font-family: monospace;
    font-size: 1.5em;
}
[class^=box]:hover{
    transform: scale(1.06);
}
.box1{
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img_hotel/habitaciones.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box2{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-image: url(../img_hotel/alitas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box3{
    top: 0;
    right: 0;
    position: absolute;
    background-image: url(../img_hotel/mini1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.box4{
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url(../img_hotel/menu4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box5{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../img_hotel/menu5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.box6{
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../img_hotel/menu6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


/*Contenido principal*/
.acomodo{
    margin-top: 25px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EB8900;
    display: grid;
    grid-template-areas:'foto titulos titulos'
                        'foto descripcion descripcion'
                        'foto descripcion descripcion'
                        'foto descripcion descripcion';

}
.imagen__contenido{
    width: 400px;
    height: 300px;
    display: flex;
    position: relative;
    grid-area: foto;
}
.titulos{
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: titulos;

    color:#2C557A;
}
.descripcion{
    font-size: 1.3em;
    text-align: center;
    padding: 1em;
    grid-area: descripcion;
    font-family: monospace;
    color:#2C557A;
}

.acomodo2{
    margin-top: 25px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EB8900;
    display: grid;
    grid-template-areas:'titulos titulos foto'
                        'descripcion descripcion foto'
                        'descripcion descripcion foto'
                        'descripcion descripcion foto'; 
}
.imagen__contenido2{
    width: 400px;
    height: 300px;
    display: flex;
    position: relative;
    grid-area: foto;
}
.titulos2{
    text-align: center;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    grid-area: titulos;
    
    color:#2C557A;
}
.descripcion2{
    font-size: 1.3em;
    text-align: center;
    padding: 1em;
    grid-area: descripcion;
    font-family: monospace;
    color:#2C557A
}

/*Pie de pagina*/

.container_footer{
    position: relative;
    width: 100%;
    height: 140px;
}
.column1{
    width: 60%;
    height: 100%;
    float: left;
    background-color:#2C557A;
}
.column2{
    width: 40%;
    height: 100%;
    float: right;
    background-color:#2C557A;
    color: rosybrown;
}
.titulo_footer, .titulo_footer2{
    font-size: 23px;
    color: white;
}
.decoracion2{
    margin-left: 10px;
}
.decoracion3{
    margin-left: 10px;
}
.redes, .contacto{
    display: flex;
}
.redes{
    margin-left: 20px;
    margin-top: 20px;
}
.decoracion, .decoracion2, .decoracion3{
    text-decoration:none;
    color: rosybrown;
}
.decoracion, .decoracion2, .decoracion3{
    height: 30px;
    width: 30px;
}
footer{
    background-color: #202020;
    width: 100%;
    height: 20px;
}
.column3{
    font-size: 17px;
    color: rosybrown;
    text-align: center;
}


/*Ajuste de panatalla*/

@media screen and (max-width:1000px){
    .contenedor{
        width: 810px;
        height: 360px;
       
    }
    [class^=box]{
        width: 267px;
        height: 177px;
    }
    .imagen__contenido{
        width: 360px;
        height: 270px;
    }
    .imagen__contenido2{
        width: 360px;
        height: 270px;
    }
}
@media screen and (max-width:900px){
    .contenedor{
        width: 720px;
        height: 320px;
       
    }
    [class^=box]{
        width: 237px;
        height: 157px;
    }
    .imagen__contenido{
        width: 320px;
        height: 240px;
    }
    .imagen__contenido2{
        width: 320px;
        height: 240px;
    }
}
@media screen and (max-width:800px){
    .contenedor{
        width: 630px;
        height: 280px;
       
    }
    [class^=box]{
        width: 207px;
        height: 137px;
    }
    .imagen__contenido{
        width: 280px;
        height: 210px;
    }
    .imagen__contenido2{
        width: 280px;
        height: 210px;
    }
}
@media screen and (max-width:700px){
    .contenedor{
        width: 540px;
        height: 360px;
       
    }
    [class^=box]{
        width: 177px;
        height: 117px;
    }
    .imagen__contenido{
        width: 240px;
        height: 180px;
    }
    .imagen__contenido2{
        width: 240px;
        height: 180px;
    }
}
@media screen and (max-width:600px){
    .contenedor{
        width: 450px;
        height: 240px;
       
    }
    [class^=box]{
        width: 147px;
        height: 97px;
    }
}