*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: aqua;
}

.encabezado{
    background-color: lightgreen;
    position: relative;
    width: 100%;
}

.hotel{ 
    text-align: center;
    font-size: 2em;
    padding: 15px;
    margin: 0;
}

.main-menu{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.main-menu__item{
    line-height: 3;
}

.main-menu__link{
    text-decoration: none;
    font-size: 1.2em;
}
.img_menu{
    width: 98.7vw;
    height: 30vw;
}
.container{
    width: 98.7vw;
    overflow: hidden;
}
.container ul{
    list-style: none;
    width: 16000px;
    display: flex;
    animation: slide 10s infinite alternate;
}
@keyframes slide{
    0% {margin-left: 0vw;}
    20%{margin-left: 0vw;}
    25%{margin-left: -98.7vw;}
    45%{margin-left: -98.7vw;}
    50%{margin-left: -197.4vw}
    70%{margin-left: -197.4vw;}
    75%{margin-left: -296.1vw;}
    100%{margin-left: -296.1vw;}
}

.contenedor{
    width: 900px;
    height: 600px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border: aqua 3px solid;
    position:relative;
    display: flex;
}

[class^=box]{
    width: 297px;
    height: 197px;
    text-align: center;
}

.box1{
    border: black 3px solid;
    position: absolute;
    top: 0;
    right: 0;
}

.box2{
    border: violet 3px solid;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.box3{
    border: yellowgreen 3px solid;
    position: absolute;

}
.box4{
    border: yellow 3px solid;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.box5{
    border: violet 3px solid;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.box6{
    border: tomato 3px solid;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.box7{
    border: teal 3px solid;
    position: absolute;
    bottom: 0;
    right: 0;
}
.box8{
    border: steelblue 3px solid;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.box9{
    border: springgreen 3px solid;
    position: absolute;
    bottom: 0;
    left: 0;
}
